{{ template "header" }}

    <h3>Product List</h3>
    <!-- {{ range $id, $product := .Product }}
    <table border="1">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Weight</th>
            <th>Short Description</th>
        </tr>
        <tr>
            <td>{{ $id }}</td>
            <td>{{ $product.Name }}</td>
            <td>{{ $product.Price }}</td>
            <td>{{ $product.Stock }}</td>
            <td>{{ $product.Weight }}</td>
            <td>{{ $product.ShortDescription }}</td>
        </tr>
    </table> -->

{{ template "footer" }}